# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# runtime
/coverage
/build*
dist
/ts-node*
/src/**/*.css
*.log
jest*

# IDE
.idea

# config
.env
/public/config.js
