# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# runtime
/coverage
/build*
/src/**/*.css
*.log
jest*

# IDE
.idea

# config
.env.local
.env.development.local
.env.test.local
.env.production.local
