.zv-error-boundary {
  display: table;
  width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: #21232a;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 75pt rgba(0, 0, 0, .8);

  .cover {
    display: table-cell;
    vertical-align: middle;

    h1 {
      font-weight: 500;
      line-height: 1.1;
      font-size: 3em;
      margin-bottom: 1em;
    }

    .lead {
      color: silver;
      font-size: 2em;
      line-height: 1.4;
    }
  }
}
