@mixin zv-logo-link {
  i {
    background-image: url("/logo.svg");
    background-repeat: no-repeat;
    background-size: auto 400%;
    background-position-y: 33.33%;
    width: 1em;
    height: 1em;
  }

  &:hover i {
    background-position-y: 0;
  }

  &.active i {
    background-position-y: 100%;
  }

  &.active:focus i, &.active:hover i {
    background-position-y: 66.66%;
  }
}

.zv-logo-link {
  @include zv-logo-link;
}
