@mixin zv-logo-link {
  i {
    background-image: url("/logo.svg");
    background-repeat: no-repeat;
    background-size: auto 400%;
    background-position-y: 33.33%;
    width: 1em;
    height: 1em;
  }

  &:hover i {
    background-position-y: 0;
  }

  &.active i {
    background-position-y: 100%;
  }

  &.active:focus i, &.active:hover i {
    background-position-y: 66.66%;
  }
}

@mixin zv-help {
  font-size: 1.25em;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;

  .popover {
    width: 15em;

    &.popover-bottom {
      top: 1.4em;
    }

    &.popover-top {
      top: auto;
      bottom: 2.4em;
    }

    &.popover-top, &.popover.popover-bottom {
      left: -.7em;

      &::before, &::after {
        left: 1.2em;
      }
    }
  }
}
