@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "./components/variables.scss";
@import "./components/global.scss";

$primary: $zv-primary;

@import "../node_modules/bulma/bulma";

$fa-font-path: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
